<!-- <div class="container">
  <form autocomplete="off" #myForm="ngForm" (ngSubmit)="myForm.form.valid && submit(myForm)">
    <div class="row">
      <h4>Enter Patient Details</h4>
      <div class="input-group input-group-icon"><input type="text" placeholder="Full Name" />
        <div class="input-icon"><i class="fa fa-user"></i></div>
      </div>
      <div class="input-group input-group-icon"><input type="email" placeholder="Email Adress" />
        <div class="input-icon"><i class="fa fa-envelope"></i></div>
      </div>
      <div class="input-group input-group-icon"><input type="password" placeholder="Password" />
        <div class="input-icon"><i class="fa fa-key"></i></div>
      </div>
    </div>
    <div class="row">
      <div class="col-half">
        <h4>Date of Birth</h4>
        <div class="input-group">
          <div class="col-third"><input type="text" placeholder="DD" /></div>
          <div class="col-third"><input type="text" placeholder="MM" /></div>
          <div class="col-third"><input type="text" placeholder="YYYY" /></div>
        </div>
      </div>
      <div class="col-half">
        <h4>Gender</h4>
        <div class="input-group"><input id="gender-male" type="radio" name="gender" value="male" /><label
            for="gender-male">Male</label><input id="gender-female" type="radio" name="gender" value="female" /><label
            for="gender-female">Female</label></div>
      </div>
    </div>
    <div class="row">
      <h4>Payment Details</h4>
      <div class="input-group"><input id="payment-method-card" type="radio" name="payment-method" value="card"
          checked="true" /><label for="payment-method-card"><span><i class="fa fa-cc-visa"></i>Credit
            Card</span></label><input id="payment-method-paypal" type="radio" name="payment-method"
          value="paypal" /><label for="payment-method-paypal"> <span><i
              class="fa fa-cc-paypal"></i>Paypal</span></label></div>
      <div class="input-group input-group-icon"><input type="text" placeholder="Card Number" />
        <div class="input-icon"><i class="fa fa-credit-card"></i></div>
      </div>
      <div class="col-half">
        <div class="input-group input-group-icon"><input type="text" placeholder="Card CVC" />
          <div class="input-icon"><i class="fa fa-user"></i></div>
        </div>
      </div>
      <div class="col-half">
        <div class="input-group"><select>
            <option>01 Jan</option>
            <option>02 Jan</option>
          </select><select>
            <option>2015</option>
            <option>2016</option>
          </select></div>
      </div>
    </div>
    <div class="row">
      <h4>Terms and Conditions</h4>
      <div class="input-group"><input id="terms" type="checkbox" /><label for="terms">I accept the terms and conditions
          for signing up to this service, and hereby confirm I have read the privacy policy.</label></div>
    </div>
  </form>
</div> -->





<div class="page-wrapper bg-gra-02 p-b-100 font-poppins">

  <div class="wrapper wrapper--w680">
    <div class="card card-4">
      <div class="card-body">
        <div class="title">
          <h2 class="title">Enter Patient Details
          </h2>
        </div>
        <form autocomplete="off" #myForm="ngForm" (ngSubmit)="myForm.form.valid && submit(myForm)">
          <div class="row row-space">

            <input type="hidden" name="id" [value]="ps.patientData.id">

            <div class="col-2">
              <div class="input-group">
                <label class="label">User Id
                  <p class="text-danger idReq"
                    *ngIf="patientUserId.invalid && (patientUserId.touched||patientUserId.dirty)">Required</p>
                  <p class="text-danger idZero" *ngIf="patientUserId.value==0">User ID can't be zero</p>
                </label>
                <input class="input--style-4" value="reset" min="0" type="number" name="user_id"
                  #patientUserId="ngModel" [(ngModel)]="ps.patientData.userId" required>
              </div>
            </div>
            <div class="col-2">
              <div class="input-group">
                <label class="label">Full Name
                  <p class="text-danger nameReq"
                    *ngIf="patientName.invalid && (patientName.touched||patientName.dirty)">
                    Required</p>
                </label>
                <input class="input--style-4" type="text" name="full_name" #patientName="ngModel"
                  [(ngModel)]="ps.patientData.name" required>
              </div>
            </div>
          </div>
          <div class="row row-space">
            <div class="col-2">
              <div class="input-group">
                <label class="label">Contact <p class="text-danger phReq"
                    *ngIf="patientPhone.invalid && (patientPhone.touched||patientPhone.dirty)">
                    Required</p></label>

                <input class="input--style-4" type="tel" min="0" name="contact" #patientPhone="ngModel"
                  [(ngModel)]="ps.patientData.phoneNumber" required>
              </div>
            </div>
            <div class="col-2">
              <div class="input-group">
                <label class="label">Address <p class="text-danger addReq"
                    *ngIf="patientAddress.invalid && (patientAddress.touched||patientAddress.dirty)">Required</p>
                </label>

                <input class="input--style-4" type="text" name="address" #patientAddress="ngModel"
                  [(ngModel)]="ps.patientData.address" required>
              </div>
            </div>
          </div>
          <div class="row row-space">
            <div class="col-2">
              <div class="input-group">
                <label class="label">Gender <select class="form-control" name="gender" #gender="ngModel"
                    [(ngModel)]="ps.patientData.gender" required>
                    <option value="" selected disabled>Select Gender</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Others">Other</option>
                  </select>
                  <p class="text-danger genReq" *ngIf="gender.invalid && (gender.touched||gender.dirty)">Required</p>
                </label>

              </div>
            </div>
            <div class="col-2">
              <div class="input-group">
                <label class="label">Date of Birth <input type="date" [max]="maxDate" name="dob" class="form-control"
                    #dob="ngModel" [(ngModel)]="ps.patientData.dateOfBirth" required>
                  <p class="text-danger dobReq" *ngIf="dob.invalid && (dob.touched||dob.dirty)">Required</p>
                </label>

              </div>
            </div>
          </div>

          <div class="p-t-15">
            <button class="btn btn--radius-2 btn--blue" type="submit">Submit</button>
            <button class="btn btn--radius-2 btn--red" (click)="cancel()">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>