<section>
    <div class="content">
        <div class="container">
            <div class="title">
                <h2 class="mb-5">Appointments</h2>
            </div>

            <!-- Search Bar Section -->
            <!-- <section class="container mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="input-group">
                    <input type="text" class="form-control me-2 border border-1 border-dark"  [(ngModel)]="searchTerm" (keyup)="search()" placeholder="Search by Patient Name">
                    <div class="input-group-append">
                        <button class="btn btn-primary"  type="button">Search</button>
                    </div>
                </div>
            </div>
        </div>
    </section> -->

            <div class="table-responsive">
                <table class="table custom-table">
                    <thead>
                        <tr>
                            <th scope="col">Appointment ID</th>
                            <th scope="col">Patient Name</th>
                            <th scope="col">Doctor Name</th>
                            <th scope="col">Appointment Date</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr scope="row" *ngFor="let app of appointmentData">
                            <td>{{ app.id }}</td>
                            <td>{{ app.patient.name }}</td>
                            <td>{{ app.doctor.name }}</td>
                            <td>{{ app.appointmentDate | date : "yyy-MM-dd" }}</td>
                            <td>
                                {{
                                app.status
                                ? "Confirmed"
                                : app.status === false
                                ? "Cancelled"
                                : "Pending"
                                }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>