<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital Management</title>
</head>

<body style="background-color: rgb(222, 243, 245);">
    <!-- Form Section -->
    <section class="container form-custom">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <form  #myForm="ngForm" (ngSubmit)="Onsubmit()">

                    <div class="form-group mb-2">
                        <input type="hidden" name="id" [value]="appDataService.appData.id">
                        <label for="patient-id">Patient ID:</label>
                        
                        <!-- <input type="number" placeholder="Enter Patient ID" class="form-control border border-1 border-dark" id="patient-id" name="patientId" #patientId="ngModel" [(ngModel)]="appDataService.appData.patientId" required> -->
                    
                        <select class="form-control border border-1 border-dark" id="patientId" name="patientId" #patientId="ngModel" [(ngModel)]="appDataService.appData.patientId" required>
                            <option selected disabled value="0">Select Patient Id</option>
                            <option [value]="pId.id" *ngFor="let pId of appDataService.listPatientsClass">{{pId.id}}</option>
                           
                        </select>
                        
                        
                    </div>
                    <div class="form-group mb-2">
                        <label for="doctorId">Doctor Name</label>
                        <select class="form-control border border-1 border-dark" id="doctorId" name="doctorId" #doctorId="ngModel" [(ngModel)]="appDataService.appData.doctorId" required>
                            <option selected disabled value="0">Select Doctor</option>
                            <option [value]="doctorName.id" *ngFor="let doctorName of appDataService.listDoctorsClass">{{doctorName.name}}</option>
                           
                        </select>
                    </div>
                   
                    <div class="form-group mb-2">
                        <label for="appointment-date">Appointment Date:</label>
                        <input type="date" [min]="minDate"  class="form-control border border-1 border-dark" id="appointment-date" name="appointmentDate" [(ngModel)]="appDataService.appData.appointmentDate" #appointmentDate="ngModel"  required>
                    </div>
                    <button type="submit" [disabled]="!isValid()"  class="btn btn-primary mr-3">Book</button>
                    <button type="reset" class="btn btn-secondary">Reset</button>
                </form>
            </div>
        </div>
    </section>

    <!-- Search Bar Section -->
    <!-- <section class="container mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="input-group">
                    <input type="text" class="form-control me-2 border border-1 border-dark"  [(ngModel)]="searchTerm" (keyup)="search()" placeholder="Search by Patient Name">
                    <div class="input-group-append">
                        <button class="btn btn-primary"  type="button">Search</button>
                    </div>
                </div>
            </div>
        </div>
    </section> -->

    <!-- Table Section -->
    <section class="container mt-5">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Appointment ID</th>
                    <th>Patient Name</th>
                    <th>Doctor Name</th>
                    <th>Appointment Date</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr   *ngFor="let app of appointmentData">
                    <td>{{app.id}}</td>
                    <td>{{app.patient.name}}</td>
                    <td>{{app.doctor.name}}</td>
                    <td>{{app.appointmentDate | date:'yyy-MM-dd'}}</td>
                    <td>{{app.status ?'Confirmed' : (app.status === false ? 'Cancelled' : 'Pending')}}</td>
                    <td>
                        
                        <!-- <button type="button" *ngIf="app.status==='false'" class="btn btn-success btn-sm mr-2" [disabled]="app.status==true"  (click)="confirmAppointment(app.id)">Confirm</button> -->

                        <!-- <button type="button" class="btn btn-success btn-sm mr-2" [disabled]="app.status==true"  (click)="confirmAppointment(app.id)">Confirm</button>
                        <button type="button" class="btn btn-warning btn-sm ml-1" [disabled]="app.status==false" (click)="cancelAppointment(app.id)">Reject</button> -->
                        <!-- <button type="button" class="btn btn-danger btn-sm ml-4" href="#"(click)="delete(app.id)">Delete</button> -->

                        

                         <button *ngIf="app.status ==null" (click)="confirmAppointment(app.id)" class="btn btn-success btn-sm mr-2">Confirm</button> 
                         <button *ngIf="app.status ==true" (click)="cancelAppointment(app.id)" class="btn btn-warning btn-sm ml-1">Reject</button>
                         <button *ngIf="app.status ==false" disabled>Cannot Change Status</button> 

                        

                    </td>
                </tr>
            
            </tbody>
        </table>

    </section>

  </body>

</html>

