<section>
    <div class="content">
      <div class="container">
        <div class="title">
          <h2 class="mb-5">Doctor Data</h2>
          
        </div>
        <div class="table-responsive">
          <table class="table custom-table">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Contact</th>
                <th scope="col">Specialization</th>
                <th scope="col">Fees</th>
              </tr>
            </thead>
            <tbody>
              <tr scope="row" *ngFor="let item of ds.doctorsList">
                <td>{{ item.id}}</td>
                <td>{{ item.name}}</td>
                <td>{{ item.phoneNumber}}</td>
                <td>{{ item.specialization}}</td>
                <td>{{ item.fees | currency:'INR':'symbol-narrow'}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>