<div class="page-wrapper bg-gra-02 p-b-100 font-poppins">
  <div class="wrapper wrapper--w680">
    <div class="card card-4">
      <div class="card-body">
        <h2 class="title">Enter Doctor Details </h2>
        <form autocomplete="off" #myForm="ngForm" (ngSubmit)="myForm.form.valid && submit(myForm)">
          <div class="row row-space">
            <input type="hidden" name="id" [value]="ds.doctorData.id" />

            <div class="col-2">
              <div class="input-group">
                <label class="label">User Id
                  <p class="text-danger idReq" *ngIf="
                      doctorUserId.invalid &&
                      (doctorUserId.touched || doctorUserId.dirty)
                    ">
                    Required
                  </p>
                  <p class="text-danger idZero" *ngIf="doctorUserId.value == 0">
                    User ID can't be zero
                  </p>
                </label>
                <input class="input--style-4" type="text" name="user_id" #doctorUserId="ngModel"
                  [(ngModel)]="ds.doctorData.userId" required />
              </div>
            </div>
            <div class="col-2">
              <div class="input-group">
                <label class="label">Full Name
                  <p class="text-danger idReq" *ngIf="
                      doctorName.invalid &&
                      (doctorName.touched || doctorName.dirty)
                    ">
                    Required
                  </p>
                </label>
                <input class="input--style-4" type="text" name="full_name" #doctorName="ngModel"
                  [(ngModel)]="ds.doctorData.name" required />
              </div>
            </div>
          </div>
          <div class="row row-space">
            <div class="col-2">
              <div class="input-group">
                <label class="label">Contact
                  <p class="text-danger idReq" *ngIf="
                      doctorPhone.invalid &&
                      (doctorPhone.touched || doctorPhone.dirty)
                    ">
                    Required
                  </p>
                </label>
                <input class="input--style-4" type="text" name="contact" #doctorPhone="ngModel"
                  [(ngModel)]="ds.doctorData.phoneNumber" required />
              </div>
            </div>
            <div class="col-2">
              <div class="input-group">
                <label class="label">Address
                  <p class="text-danger idReq" *ngIf="
                      doctorAddress.invalid &&
                      (doctorAddress.touched || doctorAddress.dirty)
                    ">
                    Required
                  </p>
                </label>
                <input class="input--style-4" type="text" name="address" #doctorAddress="ngModel"
                  [(ngModel)]="ds.doctorData.address" required />
              </div>
            </div>
            <div class="col-2">
              <div class="input-group">
                <label class="label">Gender<p class="text-danger idReq"
                    *ngIf="gender.invalid && (gender.touched||gender.dirty)">Required</p>
                  <select class="form-control" name="gender" #gender="ngModel" [(ngModel)]="ds.doctorData.gender"
                    required>
                    <option value="" selected disabled>Select Gender</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Others">Other</option>
                  </select></label>
              </div>
            </div>
            <div class="col-2">
              <div class="input-group">
                <label class="label">Date of Birth<p class="text-danger idReq"
                    *ngIf="dateOfBirth.invalid && (dateOfBirth.touched||dateOfBirth.dirty)">Required</p>
                  <input type="date" name="dob" class="form-control" #dateOfBirth="ngModel"
                    [(ngModel)]="ds.doctorData.dateOfBirth" required />
                </label>
              </div>
            </div>
          </div>
          <div class="row row-space">
            <div class="col-2">
              <div class="input-group">
                <label class="label">Specialization
                  <p class="text-danger idReq" *ngIf="doctorSpecs.invalid && (doctorSpecs.touched||doctorSpecs.dirty)">
                    Required</p>
                </label>
                <input class="input--style-4" type="text" name="specs" #doctorSpecs="ngModel"
                  [(ngModel)]="ds.doctorData.specialization" required />
              </div>
            </div>
            <div class="col-2">
              <div class="input-group">
                <label class="label">Fees
                  <p class="text-danger idReq" *ngIf="doctorFees.invalid && (doctorFees.touched||doctorFees.dirty)">
                    Required</p>
                </label>
                <input class="input--style-4" type="number" name="fees" #doctorFees="ngModel"
                  [(ngModel)]="ds.doctorData.fees" required />
              </div>
            </div>
          </div>
          <div class="p-t-15">
            <button class="btn btn--radius-2 btn--blue" type="submit">Submit</button>
            <button class="btn btn--radius-2 btn--red" (click)="cancel()">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>