<div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
           
    <div class="header">
        <h3 class="title"><a class="logo"><fa-icon [icon]="faHeart"></fa-icon>HMS</a>Doctor Dashboard<a class="home-logo" (click)="homeClick()"><fa-icon [icon]="faHome"></fa-icon></a></h3>
    </div>

<div class="app-main">
    <div class="app-sidebar sidebar-shadow">
        <div class="scrollbar-sidebar">
            <div class="app-sidebar__inner">
                <ul class="vertical-nav-menu">
                    <li class="app-sidebar__heading"><fa-icon [icon]="faApp"></fa-icon>Appointments</li>
                    <li>
                        <ul>
                            <li>
                                <a  routerLink="show-app" routerLinkActive="active-link">
                                    View My Appointment
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>

                <ul class="vertical-nav-menu">
                    <li class="app-sidebar__heading"><fa-icon [icon]="faPx"></fa-icon>Prescriptions</li>
                    <li>
                        <ul>
                            <li>
                                <a>
                                    Give Prescription
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>

            </div>
        </div>
    </div>



    <div class="app-main__outer">
        <!-- RENDER DOCTOR, PATIENT, OTHER COMPONENT HERE -->
        <router-outlet></router-outlet>
    </div>

</div>
</div>