<div class="page-wrapper bg-gra-02 p-b-100 font-poppins">
    <div class="wrapper wrapper--w680">
      <div class="card card-4">
        <div class="card-body">
          <h2 class="title">Generate Bill </h2>
          <form autocomplete="off" #myForm="ngForm" (ngSubmit)="myForm.form.valid && submit(myForm)">
            <div class="row row-space">
              <input type="hidden" name="id" [value]="billService.billData.appointmentId" />
  
              <div class="col-2">
                <div class="input-group">
                  <label class="label">Appointment Id
                    <p class="text-danger idReq"
                      *ngIf="(appointmentId.touched||appointmentId.dirty)">Required</p>
                    <select name="appointmentId" class="form-control" #appointmentId="ngModel"[(ngModel)]="billService.billData.appointmentId" (click)="displayName()"required>
                        <option value="0">Please select</option>
                        <option [value]="apn.id" *ngFor="let apn of billService.listAppointment">{{apn.id}}</option>
                    </select>
                  </label>
                </div>
              </div>


              <div class="col-2">
                <div class="input-group">
                  <label class="label">Patient Name
                    <p class="text-danger idReq" *ngIf="
                        patientId.invalid &&
                        (patientId.touched || patientId.dirty)
                      ">
                      Required
                    </p>
                  </label>
                  <input class="input--style-4" type="text" name="patientId" #patientId="ngModel"
                    [(ngModel)]="this.billService.patientData.name" required disabled/>
                </div>
              </div>
            </div>

            <div class="row row-space">
              <div class="col-2">
                <div class="input-group">
                  <label class="label">Doctor Name
                    <p class="text-danger idReq" *ngIf="
                        doctorId.invalid &&
                        (doctorId.touched || doctorId.dirty)
                      ">
                      Required
                    </p>
                  </label>
                  <input class="input--style-4" type="text" name="doctorId" #doctorId="ngModel"
                    [(ngModel)]="billService.doctorData.name" required disabled/>
                </div>
              </div>

              <div class="col-2">
                <div class="input-group">
                  <label class="label">Other Charges
                    <p class="text-danger idReq" *ngIf="
                        amount.invalid &&
                        (amount.touched || amount.dirty)
                      ">
                      Required
                    </p>
                  </label>
                  <input class="input--style-4" type="text" name="amount" #amount="ngModel"
                    [(ngModel)]="billService.billData.amount" required />
                </div>
              </div>

              </div>
              <div class="col-2">
                <div class="input-group">
                  <label class="label">Bill Date<p class="text-danger idReq"
                      *ngIf="billDate.invalid && (billDate.touched||billDate.dirty)">Required</p>
                    <input type="date" name="dob" class="form-control" #billDate="ngModel"
                      [(ngModel)]="billService.billData.billDate" required />
                  </label>
                </div>
              </div>

            <div class="p-t-15">
              <button class="btn btn--radius-2 btn--blue" type="submit" [disabled]="!billService.billData.billDate || !billService.billData.amount">Submit</button>
              <button class="btn btn--radius-2 btn--red" type="reset">Reset</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>